$color-1: #2C3E50;
$color-2: #A47503;
$color-3: #2C3E50;
$color-4: #A1B1BC;
$color-5: #FFC12D;
$color-6: #F9B718;
$color-7: #CFD2D3;
$color-8: #A1B1BC;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 30px;
    line-height: 26px;
    font-family: 'Lato Light', sans-serif;
    color: $color-1;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    padding-left: 50px;
}

.row {
    width: 1250px;
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;

    .fr{
        position: relative;
        margin-right: 30px;
        margin-bottom: 30px;
        width: 570px;
        height: 150px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        &:last-child{
            margin-right: 0px;
            margin-bottom: 0px;
        }

        .cont{
            margin-top: 34px;
        }

        .fa-times{
            position: absolute;
            color: $color-7;
            font-size: 14px;
            top: 17px;
            right: 18px;
        }

        h3{
            font-family: 'Lato Black';
            font-size: 14px;
            line-height: 26px;
            padding-left: 28px;
            height: 20px;
            letter-spacing: 1.4px;
            color: $color-3;
            width: 370px;
        }

        p{
            padding-top: 12px;
            padding-left: 28px;
            width: 370px;
            color: $color-8;
            font-size: 14px;
            line-height: 24px;
            font-family: 'Lato';
        }

        .dv{
            width: 64px;
            height: 64px;
            margin-left: 49px;
            margin-top: 42px;
            margin-bottom: 0px;
            margin-right:  0px;
            border-radius: 35px;
        }

        .dv i{
            font-size: 20px;
            line-height: 26px;
            padding-left: 21px;
            padding-top: 12px;
        }

        &.f0{
            border: 1px solid #E2E6E7;

            .dv{
                background-color: $color-5;
                border: 7px solid $color-6;
            }

            .dv i{
                color: $color-2;
            }
        }

        &.f4{
            width: 1170px;
        }


    }
}
