$color-1: #2C3E50;
$color-2: #A47503;
$color-3: #2C3E50;
$color-4: #A1B1BC;
$color-5: #FFC12D;
$color-6: #F9B718;
$color-7: #CFD2D3;
$color-8: #2C3E50;
$color-9: #97E411;
$color-10: #7BC200;
$color-11: #558502;
$color-12: #FD7761;
$color-13: #F55C43;
$color-14: #D52E13;
$color-15: #6FD9FC;
$color-16: #47B4F6;
$color-17: #0787D4;
$color-18: #A39CDC;
$color-19: #8781BD;
$color-20: #5B568E;
$color-21: #FFC12D;
$color-22: #B18009;
$color-23: #A7EC2F;
$color-24: #558502;
$color-25: #FEB1A4;
$color-26: #D52E13;
$color-27: #85EBFA;
$color-28: #0787D4;
$color-29: #AACDF6;
$color-30: #5B568E;