h1 {
    color: $color-1;
    font-family: 'Lato Light', sans-serif;
    font-size: 30px;
    line-height: 26px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 1250px;
    margin-top: 55px;

    .fr {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        width: 570px;
        height: 150px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 10px;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }

        .cont {
            margin-top: 34px;
        }

        .xf {
            position: absolute;
            top: 17px;
            right: 18px;
            font-size: 14px;
        }

        h3 {
            width: 370px;
            height: 20px;
            padding-left: 28px;
            color: $color-3;
            font-family: 'Lato Black';
            font-size: 14px;
            letter-spacing: 1.4px;
            line-height: 26px;
        }

        p {
            width: 370px;
            padding-top: 12px;
            padding-left: 28px;
            color: $color-8;
            font-family: 'Lato';
            font-size: 14px;
            line-height: 24px;
        }

        .dv {
            width: 64px;
            height: 64px;
            margin-top: 42px;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 49px;
            border-radius: 35px;
        }

        .dv i {
            padding-top: 12px;
            padding-left: 21px;
            font-size: 20px;
            line-height: 26px;
        }

        &.f0 {
            background-color: $color-21;

            .xf {
                color: $color-22;
            }

            .dv {
                border: 7px solid $color-6;
                background-color: $color-5;
            }

            .dv i {
                color: $color-2;
            }
        }

        &.f1 {
            background-color: $color-23;

            .xf {
                color: $color-24;
            }

            .dv {
                border: 7px solid $color-10;
                background-color: $color-9;
            }

            .dv i {
                padding-left: 15px;
                color: $color-11;
            }
        }

        &.f2 {
            background-color: $color-25;

            .xf {
                color: $color-26;
            }

            .dv {
                border: 7px solid $color-13;
                background-color: $color-12;
            }

            .dv i {
                padding-left: 18px;
                color: $color-14;
            }
        }

        &.f3 {
            background-color: $color-27;

            .xf {
                color: $color-28;
            }

            .dv {
                border: 7px solid $color-16;
                background-color: $color-15;
            }

            .dv i {
                padding-left: 20px;
                color: $color-17;
            }
        }

        &.f4 {
            width: 1170px;
            background-color: $color-29;

            .xf {
                color: $color-30;
            }

            p {
                width: 1010px;
            }

            .dv {
                border: 7px solid $color-19;
                background-color: $color-18;
            }

            .dv i {
                padding-left: 20px;
                color: $color-20;
            }
        }
    }
}