h1 {
    color: $color-1;
    font-family: 'Lato Light', sans-serif;
    font-size: 30px;
    line-height: 26px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 1250px;
    margin-top: 55px;

    .fr {
        display: flex;
        flex-wrap: wrap;
        width: 570px;
        height: 150px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 10px;

        &::before {
            content: '\f12a';
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            margin-top: 30px;
            margin-left: 30px;
            border: 7px solid $color-2;
            border-radius: 50%;
            background-color: $color-1;
            font-family: 'FontAwesome', sans-serif;
        }

        div {
            margin-top: 30px;
            margin-left: 30px;
        }

        h3 {
            width: 370px;
            height: 20px;
            padding-left: 28px;
            color: $color-3;
            font-family: 'Lato Black', sans-serif;
            font-size: 14px;
            letter-spacing: 1.4px;
            line-height: 26px;
        }

        p {
            width: 370px;
            padding-top: 12px;
            padding-left: 28px;
            color: $color-8;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            line-height: 24px;
        }

        &.f1 {
            background-color: $color-21;

            &::before {
                border: 7px solid $color-6;
                background-color: $color-5;
                color: $color-1;
            }
        }

        &.f2 {
            background-color: $color-23;

            &::before {
                border: 7px solid $color-10;
                background-color: $color-9;
            }
        }

        &.f3 {
            background-color: $color-25;

            &::before {
                border: 7px solid $color-13;
                background-color: $color-12;
            }
        }

        &.f5 {
            background-color: $color-27;

            &::before {
                border: 7px solid $color-16;
                background-color: $color-15;
            }
        }

        &.f4 {
            width: 1170px;
            background-color: $color-29;

            &::before {
                border: 7px solid $color-19;
                background-color: $color-20;
            }
        }
    }
}
